* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  font-size: 82.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.page {
  padding: 0 9%;
}

.logo img {
  width: 12rem;
  height: auto;
}

.clrBleu {
  color: #0065fc;
}

.clrGrisfonce {
  color: #d1cece;
}

/*
:root {
  --clrBleu: #0065fc;
  --clrGris: #f2f2f2;
  --clrBleuCl: #deebff;
  --clrGrisfonce: #d1cece;
}*/

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_links a {
  padding: 3.8rem;
  font-size: 2rem;
  color: black;
  width: 15rem;
  text-align: center;
  border-top: 4px solid transparent;
}

.nav_links .nav_b {
  color: #0065fc;
}

.nav_links a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  box-sizing: border-box;
}

/* end of nav bar */

/* header */
header {
  padding: 3rem 0;
}

header h1 {
  font-size: 3rem;
}

header p {
  margin: 1rem 0;
  font-size: 1.9rem;
  font-weight: 300;
}

/* end of header */

/* search form */

.bloc_research {
  display: flex;
  margin: 3rem 0;
}

.iconSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 20px 0 0 20px;
  background: #f2f2f2;
  cursor: pointer;
  font-size: 2rem;
}

#search {
  width: 25rem;
  height: 6rem;
  border: 3px solid #f2f2f2;
  font-size: 1.7em;
  font-weight: 600;
  padding: 0 0.6rem;
}

::placeholder {
  padding: 0 2rem;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6rem;
  width: 15rem;
  background: #0065fc;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-weight: bold;
  margin-left: -0.2rem;
  font-size: 1.7rem;
}

.search-icon .fas {
  display: none;
}

.search-icon:hover {
  background: #deebff;
  color: #0065fc;
}

/* end of search */

/* filter  */
.filter {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  padding: 1.5rem 0;
}

.filter h3 {
  font-size: 2.3rem;
  margin-right: 3rem;
}

.filter .filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  width: 90%;
  font-weight: 700;
}

.bloc-fas {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  height: 6rem;
  border: 3px solid #f2f2f2;
  border-radius: 3rem;
  cursor: pointer;
}

.bloc-fas i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  position: absolute;
  left: -2px;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: #deebff;
}

.bloc-fas .icons-text {
  margin-right: -1.4rem;
}

.icons-text {
  font-size: 2rem;
  padding-left: 1.5rem;
}

.bloc-fas:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}

.bloc-fas:hover > .icons-text {
  color: #0065fc;
}

.bloc-fasanimal {
  width: 30rem;
}

.bloc-fasfamilial {
  width: 20rem;
}

.bloc-fasRomantique,
.bloc-fasEconomique {
  width: 25rem;
}

.animal {
  padding-left: 2rem;
}

/* end of filter */

/* info */
.info {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.info p {
  font-size: 1.7rem;
  padding-left: 10px;
  font-weight: normal;
}

.infoicon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border: #d1cece 0.1rem solid;
  border-radius: 50%;
  color: #0065fc;
  cursor: pointer;
}

/* end of info */

/* main */
.main {
  display: flex;
  gap: 60px;
}

/* hebergement */
.bloc-article {
  flex: 2.3;
  background: #f2f2f2;
  border-radius: 30px;
  padding: 60px;
  margin: 1rem;
}

.bloc-article h2 {
  font-size: 2.5rem;
  padding-bottom: 35px;
}

.hebergements {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.bloc_hotel {
  flex: 1 1 32rem;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  border: 0.5rem solid whitesmoke;
}

.bloc_hotel .image {
  height: 15rem;
}

.bloc_hotel .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bloc_hotel .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.bloc_hotel .content h3 {
  font-size: 1.9rem;
}

.bloc_hotel .content p {
  font-size: 1.4rem;
  padding: 10px 0;
}

.bloc_hotel .content i {
  font-size: 1.4rem;
}

.bloc_hotel:hover,
.plusPopulaires-hotel:hover {
  transform: scale(1.03);
  transition: all 150ms ease-out;
}

.Afficher-plus {
  font-size: 2rem;
  color: black;
  padding: 60px 0 0;
  display: inline-block;
}

/* end of hebergement  */

/* aside */
aside {
  flex: 1;
  background: #f2f2f2;
  border-radius: 30px;
  padding: 60px;
  margin: 1rem;
}

.plusPopulaires {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

aside h2 {
  font-size: 2.5rem;
}

.aside-hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.plusPopulaires-hotel {
  flex: 1 30rem;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  border: 0.6rem solid whitesmoke;
  display: flex;
}

.plusPopulaires-hotel .image2 {
  height: 18rem;
  width: 40%;
}

.elements {
  height: 100%;
  width: 60%;
  padding: 1.5rem;
  position: relative;
}

.elements p {
  padding-top: 0.7rem;
}

.elements .aside-fas {
  position: absolute;
  bottom: 1rem;
}

.plusPopulaires-hotel .image2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.plusPopulaires-hotel h3 {
  padding: 0.6rem 0;
  font-size: 1.9rem;
}

.plusPopulaires-hotel p {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.plusPopulaires-hotel i {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* end of aside */

/* activities */

.Activites_wrapper {
  margin: 5rem 0;
}

.Activites_wrapper h2 {
  padding: 2rem 0;
  font-size: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.card-wrapper {
  flex: 1 1 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 30px;
  gap: 0.2rem;
}

.fort-Pomegues .image3 {
  height: calc(100% - 7rem);
}

.ile-frioules .image3 {
  height: calc(100% - 7rem);
}

.Vieux-Port .image3,
.Parc-Calanques .image3 {
  height: calc(100% - 7rem);
}

.notre-Dame {
  height: 50%;
}

.notre-Dame .image3,
.parc-Longchamp .image3 {
  height: calc(100% - 7rem);
}

.card {
  margin: 1.5rem;
  flex: 1 1 20rem;
  border-radius: 30px;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
}

.card:first-child {
  height: 350px;
}

.card:nth-child(2) {
  height: 200px;
}

.card .card-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  height: 7rem;

  font-size: 2rem;
}

.image3 img,
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image3 img {
  border-radius: 30px 30px 0 0;
}

.activites-h3 {
  display: inline-block;
  height: 6rem;
  padding: 2rem 1.7rem;
  font-size: 1.7rem;
}

/* end of activities */

/* footer */
footer {
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5%;
  width: 77%;
}

.footer h3 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.divLienFoot {
  padding: 8px 0;
}

.divLienFoot a {
  color: rgb(56, 56, 56);
  font-weight: 500;
  font-size: 1.7rem;
}

/* end of footer */

/* media queries */

@media (max-width: 1400px) {
  .main {
    flex-direction: column-reverse;
  }

  .filter .filter-container {
    gap: 20px;
  }

  .iconSize {
    border-radius: 15px 0 0 15px;
  }

  .search-icon {
    border-radius: 0 15px 15px 0;
  }

  .card-wrapper {
    flex: 1 1 50rem;
    border-radius: 20px;
  }

  #search,
  .bloc-fas {
    border: 2px solid #f2f2f2;
  }

  .card {
    border-radius: 20px;
  }

  .card .image3 img {
    border-radius: 20px 20px 0 0;
  }

  .plusPopulaires-hotel,
  .bloc_hotel {
    border-radius: 20px;
  }

  .Activites_wrapper h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1950px) {
  .page h1 {
    font-size: 3.5rem;
  }

  html {
    font-size: 59%;
  }

  .page {
    padding: 0 5%;
  }

  .main,
  .hebergements,
  .aside-hotel-wrapper {
    gap: 30px;
  }

  /* hebergement */
  .bloc-article,
  aside {
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 45%;
  }

  aside,
  .bloc-article {
    padding: 20px;
    margin: 0;
  }

  .plusPopulaires,
  .bloc-article h2 {
    padding-bottom: 20px;
  }

  .aside-hotel-wrapper,
  .hebergements {
    gap: 20px;
  }

  .iconSize {
    border-radius: 10px 0 0 10px;
  }

  .search-icon {
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 991px) {
  .bloc_header h1 {
    font-size: 2.8rem;
  }

  .page {
    padding: 0 2%;
  }

  .filter .filter-container {
    gap: 10px;
  }

  .bloc-fas .icons-text {
    font-size: 1.7rem;
  }

  .bloc-fasanimal {
    width: 23.5rem;
  }

  .bloc-fasfamilial {
    width: 17rem;
  }

  .bloc-fasRomantique,
  .bloc-fasEconomique {
    width: 21.5rem;
  }

  .elements {
    padding: 1rem;
  }

  .plusPopulaires-hotel h3 {
    padding: 0;
    font-size: 1.7rem;
  }

  .card-container .card {
    flex: 1 1 40rem;
  }
}

@media (max-width: 700px) {
  .page {
    padding: 0;
  }

  .vacances {
    padding: 0 30px;
  }

  .bloc_research {
    padding: 0 30px;
  }

  .plusPopulaires-hotel h3 {
    font-size: 1.9rem;
  }

  .filter,
  .info,
  .bloc_research {
    padding: 0 30px;
  }

  .filter .filter-container {
    width: 100%;
  }

  .bloc-article {
    background: none;
    padding: 0 30px;
  }

  aside {
    border-radius: 0;
    padding: 30px;
  }

  .plusPopulaires-hotel {
    flex: 1 1 40rem;
  }

  .Afficher-plus {
    padding-top: 20px;
  }

  .Activites_wrapper {
    padding: 10px;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .logo {
    padding-left: 2rem;
  }

  .nav {
    position: relative;
    max-width: 100%;
    height: 17rem;
    border-bottom: #f2f2f2 0.5rem solid;
  }

  .nav_links .nav_a {
    display: flex;
    justify-content: space-evenly;
  }

  .nav_links .nav_b {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
  }

  .nav_links .link1 {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    padding: 0 25% 3rem 25%;
  }

  .nav_links .link2 {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    padding: 0 25% 3rem 25%;
  }

  .nav_links a {
    padding-bottom: 5rem;
    font-size: 2.5rem;
  }

  .nav_links a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    box-sizing: border-box;
  }

  .nav_links .nav_b:hover {
    border-top: none;
    border-bottom: none;
  }

  .nav_links {
    padding: 0;
  }

  .search-icon span {
    display: none;
  }

  .search-icon {
    width: 7rem;
  }

  .search-icon .fas {
    display: block;
    font-size: 2rem;
  }

  #search {
    width: 25rem;
  }

  .filter {
    align-items: flex-start;
    flex-direction: column;
  }

  .filter h3 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }

  .filter-container {
    flex-direction: column;
    position: relative;
    height: 23rem;
    gap: 1rem;
  }

  .bloc-fas i {
    font-size: 2.6rem;
  }

  .bloc-fasfamilial {
    position: absolute;
    top: -0.1rem;
    left: 28rem;
    width: 18rem;
  }

  .bloc_research {
    margin: 0;
    padding: 2rem;
  }

  .filter,
  .info,
  .vacances {
    padding: 0 2rem;
    margin: 0;
  }

  .icons-text {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  .bloc-fasanimal {
    width: 25.5rem;
  }

  .Activites_wrapper h2 {
    margin-left: 1rem;
  }

  .Activites_wrapper {
    margin: 0;
  }

  aside {
    padding: 2rem;
  }

  .card {
    margin: 1rem;
  }

  .bloc-article {
    padding: 0 2rem;
  }

  .card:first-child {
    height: 100px;
  }

  .card:nth-child(2) {
    height: 100px;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 35%;
  }

  .filter .bloc-fasanimal {
    width: 23rem;
  }
}
